<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="mostrarMenu">
    <div class="navbar-nav">
        <!-- <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a> -->
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <!-- <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin" routerLinkActive="active">Admin</a>
        <a class="nav-item nav-link" routerLink="/users" *ngIf="isAdmin" routerLinkActive="active">Users</a> -->
    </div>
    <div class="navbar-nav  ml-auto">
        <a class="nav-item nav-link" title="Terminar Sessão" (click)="logout()"><span class="material-icons">exit_to_app</span></a>
    </div>
</nav>

<!-- main app container -->
<div class="app-container">
    <alert></alert>
    <router-outlet></router-outlet>
</div>