<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#ffffff" type="fire" [fullScreen]="true">
    <p style="color: white"> A processar aguarde... </p>
</ngx-spinner>
<div style="text-align:center">
    <!--   <h1>
    Capturar Foto
  </h1> -->

    <div>
        <ng-container *ngIf="webcamImage">
            <div class="snapshot">
                <div>
                    <img [src]="webcamImage.imageAsDataUrl" style="width: 300px; height: 225px;" />
                </div>
                <br/>
                <button class="actionBtn btn btn-success btn-sm" (click)="OnSubmit()">Gravar Foto</button>
                <button class="actionBtn btn btn-primary btn-sm" (click)="getNewPic();">Nova Foto</button>
            </div>
        </ng-container>
        <ng-container *ngIf="!webcamImage">
            <webcam [height]="300" [width]="300" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)"
                (initError)="handleInitError($event)"></webcam>
            <br/>
            <button class="actionBtn btn btn-success btn-sm" (click)="triggerSnapshot();" *ngIf="showWebcam">Capturar Foto</button>
            <button class="actionBtn btn btn-danger btn-sm" (click)="toggleWebcam();" *ngIf="showWebcam">Desligar Webcam</button>
            <button class="actionBtn btn btn-danger btn-lg" (click)="toggleWebcam();" *ngIf="!showWebcam">Ligar Webcam</button>
            <br/>
            <div *ngIf="showWebcam">
                <button class="actionBtn btn btn-sm" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Mudar a Webcam</button>
                <input id="cameraSwitchCheckbox" type="checkbox" [(ngModel)]="allowCameraSwitch"><label for="cameraSwitchCheckbox">Ativar toca de camera</label>
            </div>
            <br/>
        </ng-container>


    </div>
</div>