mat-form-field {
    width: 100%;
}

button {
    margin: 4px;
}

.mat-column-Id {
    flex: 0 0 5%;
}

.mat-column-Nome {
    flex: 0 0 20%;
}

.mat-column-B.I {
    flex: 0 0 15%;
}

.mat-column-NumAgente {
    flex: 0 0 10%;
}

.mat-column-Unidade {
    flex: 0 0 35%;
}

.mat-column-Situacao {
    flex: 0 0 10%;
}

.mat-column-Accao {
    flex: 0 0 5%;
}